.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employee-dictionary__body {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.employee-item:hover {
  cursor: pointer;
}

.selected-employee {
  background: #ccc;
}
